body {
    background-color: white;
}

.intro {
    font-family: Aboreto;
    font-size: 40px;
}

.lead {
    font-family: Sniglet;
    font-size: 25px;
}


.col-lg-6 {
    font-family: Aboreto;
    font-size: 50px;

}

.topic {
    font-family: Pompiere;
    font-size: 45px;
    color: #D97BFF;
}

.ol {
    font-family: Sniglet;
    font-size: 25px;
    color: #E8AFFF;

}

.ol1 {
    font-family: Sniglet;
    font-size: 25px;
    color: #f2aeb1;

}

.context {
    font-family: Patrick Hand SC;
    font-size: 35px;
    color: #530771;
}

.existing {
    width: 500px;
    height: 300px;
}

.exist {
    font-family: Sniglet;
    font-size: 25px;
    color: #060D9C;
}

.future {
    width: 500px;
    height: 300px;
    border-radius: 50px;
    margin: 20px;
}

.futuretech {
    font-family: Sniglet;
    font-size: 25px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    border-radius:10px;
    border-color: #000000;
    color: #530771;
}

.demoo {
    font-family: Aboreto;
    font-size: 50px;
    text-align: center;
}

.show {
    font-family: Sniglet;
    font-size: 30px;
}

.brain1 {
    width: 500px;
    height: 500px;
}

.navbar {
    font-size: 15px;
    font-family: Lexend Peta;
}

.navbar-brand {
    font-size: 20px;
    font-family: Lexend Peta;
}

.container {
    padding: 5px;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
}

.card-subtitle {
    margin-top: calc(-0.5 * var(--bs-card-title-spacer-y));
    margin-bottom: 0;
}

.section {
    padding: 25px;
}
