.intro {
    font-family: Aboreto;
    font-size: 40px;
}

.lead {
    font-family: Sniglet;
    font-size: 25px;
}


.col-lg-6 {
    font-family: Aboreto;
    font-size: 40px;
}

.topic {
    font-family: Pompiere;
    font-size: 45px;
}

.ol {
    font-family: Coustard;
    font-size: 25px;
}

.existing {
    width: 500px;
    height: 300px;
}
.exist {
    font-family: Sniglet;
    font-size: 25px;
}

.future {
    width: 500px;
    height: 300px;
    border-radius: 50px;
    margin: 20px;
}

.futuretech {
    font-family: Sniglet;
    font-size: 25px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    border-radius:10px;
}

