.intro {
    font-family: Aboreto;
    font-size: 40px;
}

.lead {
    font-family: Sniglet;
    font-size: 25px;
}


.col-lg-6 {
    font-family: Aboreto;
    font-size: 45px;
}

.topic {
    font-family: Pompiere;
    font-size: 45px;
    color: gray;
}

.ol {
    font-family: Sniglet;
    font-size: 25px;
    color: black;

}

.ol1 {
    font-family: Sniglet;
    font-size: 20px;
    color: #f2aeb1;
    border-width: 2px;
    border-style: solid;
    text-align: left;
    border-radius:10px;
    border-color: #530771;
    padding: 20px;


}

.context {
    font-family: Patrick Hand SC;
    font-size: 28px;
    color: #530771;
    border-width: 2px;
    border-style: solid;
    text-align: left;
    border-radius:10px;
    border-color: #000000;
    padding: 20px;
}

.existing {
    width: 400px;
    height: 300px;
}

.exist {
    font-family: Sniglet;
    font-size: 20px;
    color: #060D9C;
    border-width: 2px;
    border-style: solid;
    text-align: left;
    border-radius:10px;
    border-color: #000000;
    padding: 20px;
}

.future {
    width: 500px;
    height: 550px;
    border-radius: 50px;
    margin: 20px;
    aligh: center;
}

.futuretech {
    font-family: Sniglet;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    border-radius:10px;
    border-color: #000000;
    color: black;
    padding: 20px;
}

.demoo {
    font-family: Aboreto;
    font-size: 50px;
    text-align: center;
}

.show {
    font-family: Coustard;
    font-size: 30px;
}

.brain1 {
    width: 500px;
    height: 500px;
}

.container {
    padding: 5px;
}

.card {
    color: black;
    border-color: black;
    font-family: Sigmar One;
}

.uuy{
    background-color:black;
}

.btn {
    color: white;
}

.btn-primary {
    color: white;
    font-soze: 20px;
}

.section {
    background-color: lightgray;
}

.py-4 {
    size: auto;
    margin: 20px;
    padding: 20px;
}

.py-5 {
    padding: 10px;
}

.footer {
    width: 100%;
}

.top {
    font-size: 43px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Lexend Peta;
}

.text {
    font-size: 50px;
    opacity: 70%;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pompiere;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  }

  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-sm,
  .navbar > .container-md,
  .navbar > .container-lg,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
  }
  .navbar-brand:hover, .navbar-brand:focus {
    color: var(--bs-navbar-brand-hover-color);
  }

  .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .navbar-nav .show > .nav-link,
  .navbar-nav .nav-link.active {
    color: var(--bs-navbar-active-color);
  }
  .navbar-nav .dropdown-menu {
    position: static;
  }

  .navbar-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--bs-navbar-color);
  }
  .navbar-text a,
  .navbar-text a:hover,
  .navbar-text a:focus {
    color: var(--bs-navbar-active-color);
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }

  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }

